<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'produtos:home' %}" method="POST" enctype="multipart/form-data">
         {% csrf_token %}
         <label for="">Nome</label>
          {{form.nome}}
          <br>
         <label for="">Imagem</label>
         {{form.foto}}
         <br>
         <label for="">Descrição</label>
         {{form.descrição}}
         <button type="submit">Envia</button>
    </form>
</body>
</html>